#root {
  max-width: 1280px;
  margin: 0 auto;

}


/* Chrome, Safari, Edge, Opera for input number hide arrow beside */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



input[type="checkbox"]:checked {

  background-color: rgb(109, 99, 248);
  color: #fff;
  transition: all .2s;
}