#root {
  margin: 0 auto;
  overflow: hidden;
  max-width: 960px;
}

input[type=checkbox] {
  -webkit-appearance: none; /* remove default appearance on Webkit-based browsers */
  -moz-appearance: none; /* remove default appearance on Mozilla-based browsers */
  appearance: none; /* remove default appearance on all other browsers */
}

input[type="checkbox"]:checked + label {

  background-color: rgb(109, 99, 248);
  color: #fff;
  transition: all .2s;
}

input[type="checkbox"] + label {

  transition: all .2s;
}

.swipe {
  position: absolute;
}

.card-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
    width: 600px;
    max-width: 80vw;
    height: 50vh;
    padding: 20px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 20px 60px 0px rgba(0, 0, 0, 0.3);
}

.card > h3 {
  position: absolute;
  bottom: 20px;
  color: white;
  font-size: 1.3rem;
}

.buttons{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: -40px;
 



}